//_____________      __  __      __ 
//\_   _____/  \    /  \/  \    /  \
// |    __)_\   \/\/   /\   \/\/   /
// |        \\        /  \        / 
///_______  / \__/\  /    \__/\  /  
//        \/       \/          \/   
// NORD-----------------------------


$bg: #2F343F;
$bg-alt: #3A404E;
$fg: #F1F1F1;

$icon: #0f94d2;
$launcher: #7DCFFF;

$workspacefocus: #e0af68;
$workspaceoccupied: #7DCFFF;
$workspaceempty: #7DCFFF;


//----------------------------------

$red: #dd6777;
$gray: #3A404E;
$blue: #7aa2f7;
$cyan: #7dcfff;
$magenta: #c296eb;
$green: #90ceaa;
$yellow: #e0af68;