//_____________      __  __      __ 
//\_   _____/  \    /  \/  \    /  \
// |    __)_\   \/\/   /\   \/\/   /
// |        \\        /  \        / 
///_______  / \__/\  /    \__/\  /  
//        \/       \/          \/   
// BLACK -----------------------------


$bg: #000000;
$bg-alt: #1b1b1b;
$fg: #878b92;

$icon: #ffffff;
$launcher: #ffffff;

$workspacefocus: #f1f1f1;
$workspaceoccupied: #f1f1f1;
$workspaceempty: #f1f1f1;


//----------------------------------

$red: #dd6777;
$gray: #3A404E;
$blue: #7aa2f7;
$cyan: #7dcfff;
$magenta: #c296eb;
$green: #90ceaa;
$yellow: #e0af68;